<section>
	<div id="about" class="container">
		
		<div class="about">
			<h1>Hi, I'm Chelsea</h1>
			<p>
			I make memorable websites and designs.  I believe good design is a balance of remarkable visuals and usability.  I seek to create user experiences that are personable, intuitive, and adaptive.  In perusing my passion, I have developed a versatile skillset with efficiency in both visual creation and coding.</p>

			<p>When I'm not hammering code or illustrating graphics I can be found slapping my bass and roaming the mountains of Colorado.  </p>

		</div>

		<div class="image slide-left show"></div>
		<div class="imageSmall"></div>
		<div class="black slide-up show-black"></div>
		<div class="blackSmall"></div>
		
	</div>
</section>