<section id="contactme" class="contact">
<h2>Contact Me</h2>
<div id="formCandy">
	<form class="form" id="form1" action="https://formspree.io/cwilliamsdigital@gmail.com"
      method="POST">
		<fieldset>
			<p class="pull-left">
				<label>
				Name <br />
				<input type="text" name="name" size="30" maxlength="100">
				</label>
			</p>
			<p class="pull-right">
				<label>
					Email<br />
					<input type="email" name="_replyto" size="30" maxlength="100">
				</label>
			</p>
			<br />
			<p class="make-center">
			<label>
				Tell me about your project <br />
			</label>
			<textarea type="text" name="message" rows="4" cols="40" id="message">  </textarea>
			<br />
			</p>
			<div class="submit-button">
				<input class="btn-submit" type="submit" value="Send" />
			</div>
		</fieldset>
</form>
</div>