<section id="thework" class="work">

<div id="work">
	
	<div class="work-belt">

		<div class="thumb-wrap">
		<h1>What I can Do</h1>
			<div class="thumbUnit">
				<div class="thumb-unit" id="smallCircle"><img src="/assets/img/design-open.jpg"></div>
				<h2>Illustrative Examples</h2>
			</div>
			<div class="thumbUnit">
				<div class="thumb-unit" id="largeCircle"><img src="/assets/img/featured-open.jpg"></div>
				<h2>Featured</h2>
			</div>
			<div class="thumbUnit">
				<div class="thumb-unit" id="smallCircle2"><img src="/assets/img/toolbox-open.jpg"></div>
				<h2>Technical Skills</h2>
			</div>
		</div>

		<div class="work-wrap">
			<div class="work-container">
			<div class="work-return">{% include icons/zarrow.html %}</div>
				<div class="project-load"></div>
			<div class="work-return">{% include icons/xarrow.html %}</div>
			</div>
		</div>
	</div>
</div>
</section>