$mainText: #656565

.work
	background: #B8D8D8
	height: 700px
	padding-top: 60px
	padding-bottom: 0px
	margin-bottom: 0px
	text-align: center
	overflow-x: hidden

.work-belt
	width: 200%
	position: relative
	left: 0%
	+transition(all 800ms)

.thumb-wrap
	width: 50%
	float: left 

	h1
		font-family: 'Berkshire Swash', cursive
		margin-bottom: 30px
		margin-top: 40px
		color: $mainText
		text-align: center

	h2
		font-family: 'Source Sans Pro', sans-serif
		color: $mainText
		font-weight: bold
		padding: 25px
		margin-top: 25%

	#smallCircle
		cursor: pointer
		background-image: url(/assets/img/design.jpg)
		width: 400px
		height: 340px

		transition: all 200ms ease-in-out

	#smallCircle:hover
		cursor: pointer
		background-image: url(/assets/img/design-open.jpg)

	#smallCircle2
		cursor: pointer
		background-image: url(/assets/img/toolbox.jpg)
		width: 400px
		height: 340px

		transition: all 200ms ease-in-out

	#smallCircle2:hover
		cursor: pointer
		background-image: url(/assets/img/toolbox-open.jpg)

	#largeCircle
		cursor: pointer
		background-image: url(/assets/img/featured.jpg)
		width: 500px
		height: 426px
		

		transition: all 200ms ease-in-out

	#largeCircle:hover
		background-image: url(/assets/img/featured-open.jpg)
		cursor: pointer

	.thumbUnit
		text-align: center
		position: relative
		display: inline-block
		vertical-align: middle
		h2
			padding: 0px
			margin: 0px
			font-family: 'Source Sans Pro', sans-serif
			font-size: 2em

	.thumbUnit:hover
		h2
			color: #467089

.work-wrap
	width: 50%
	float: left

	.work-container
		max-width: 100%
		margin: 0px auto
		display: none

		h3
			color: $mainText

		img
			max-width: 100%

	.work-return
		+size(40px)
		cursor: pointer
		opacity: 0.8
		position: absolute
		padding: 20px

		@media (max-width: 740px)
			position: relative

		svg
			transition: all 500ms ease-in-out
			fill: #656565
			

		svg:hover
			fill: #FE5F55
			stroke: #FE5F55
			stroke-width: 3px