/******CAROUSEL BELOW*******/

/* Column Code */

.grid_2_of_12 {
    width: 15.33%;
}

.col {
    display: block;
    float: left;
}

/* END */
.sbs{
  padding: 60px 0
}

.sbs__row {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding:0px 40px;
}
  .sbs__row::before{
    content: " ";
    display: table;
  }
  .sbs__row::after{
    clear:both;
  }

  .sbs__column{
    padding-left: 2.5%;
    padding-right: 2.5%;
    float: left;
  }


/* Left Column */
.sbs__left {
  width: 35%;
  padding: 0;
}
    .sbs__medium-6.sbs__column {
        width: 100%
    }
.sbs div[class*=" item-"],
.sbs div[class^=item-] {
    padding: 0px
}
.sbs div[class*=" item-"] img,
.sbs div[class^=item-] img {
    padding-bottom: 30px
}


/* Right Column */
.sbs__right {
    width: 65%;
    padding: 0;
}
  .sbs__right .owl-theme-features {
    width: 75%;
    position: relative;
    margin: 0 auto
  }


/* Tab Items */
.sbs__item-wrapper {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding: 10px 0
}

.sbs__item {
  display: table-cell;
  width:350px;
}

.sbs__item .sbs__tab-title {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: bold;
  padding-bottom: 3px;
  margin: 0
}
  .sbs__item .sbs__tab-title a {
    color: #F1581B
  }
    .sbs__item .sbs__tab-title a:after {
      content: "\25BA";
      vertical-align: 6%;
      margin-left: 10px;
      font-size: 1rem
    }
    
    .sbs__item .sbs__tab-title a:hover {
      text-decoration: none
    }

  .sbs__item .sbs__tab-description {
    font-size: .9375rem;
    line-height: 21px;
    margin: 0;
  }


/* BREAKPOINTS */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sbs {
        padding: 50px 50px 40px
    }
    .sbs__medium-6 {
        width: 45% !important;
        padding-left: 2.5%;
        padding-right: 2.5%
    }
    .sbs div[class*=" item-"] img,
    .sbs div[class^=item-] img {
        padding-bottom: 25px
    }
    .sbs .owl-controls {
        display: none
    }
    .sbs__item .sbs__tab-description {
        font-size: .75rem;
        line-height: 18px
    }
    .sbs__item .sbs__tab-title {
        font-size: 1rem
    }
    .sbs__left {
        width: 100%;
        padding: 0;
        padding-bottom: 30px
        padding-left:40px;
    }
    .sbs__right {
        width: 100%
    }
}

@media only screen and (max-width: 767px) {
    .sbs__hide-for-small-only {
        display: none
    }
    .sbs__hide-for-small-only.current {
        display: block
    }
    div[class*=" item-"],
    div[class^=item-] {
        padding: 0 50px
    }
    div[class*=" item-"] img,
    div[class^=item-] img {
        padding-bottom: 25px
    }
    .owl-dots {
        width:150px;
        margin: 0 auto;
    }

    .owl-dot {
        width: 8px;
        height: 8px;
        background: #ccc;
        border-radius: 50%;
        display: inline-block;
        margin: 0 8px
    }
    .owl-prev {
        left: 10px
    }
    .owl-prev:before {
        content: "<";
        left: 10px;
        line-height: 30px;
        font-size: 1rem;
        color: #fff;
        position: absolute
    }
    .owl-next {
        right: 10px
    }
    .owl-next:before {
        content: ">";
        left: 10px;
        line-height: 30px;
        font-size: 1rem;
        color: #fff;
        position: absolute
    }
    .owl-next,
    .owl-prev {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 35%;
        border-radius: 50%;
        color: transparent
    }
    .sbs {
        padding: 25px 0 12px
    }
    .sbs__medium-6.sbs__column {
        width: 100%
    }
    .sbs__right {
        width: 100%;
        position: relative;
        padding: 0;
        margin-bottom: 30px
    }
    .sbs__left {
        width: 100%;
    }
    .sbs__item-wrapper {
        text-align: center;
        border-bottom: 0;
        padding-top: 0
    }
    .sbs__item {
        display: initial;
        vertical-align: baseline
    }
    .sbs__item .sbs__tab-title {
        font-size: 1rem
    }
    .sbs .owl-controls {
        text-align: center;
        height: 22px;
        padding-top: 25px;
        margin-top: 25px
    }
    .sbs .owl-controls .owl-buttons {
        position: absolute;
        top: 43%;
        width: 100%;
        z-index: 98
    }
    .sbs .owl-controls .owl-buttons .owl-prev {
        margin-left: -15.2%;
        left: 0
    }
    .sbs .owl-controls .owl-buttons .owl-next {
        margin-right: -15.2%;
        right: 0
    }
    .sbs .owl-controls .owl-buttons div {
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        display: inline-block;
        zoom: 1;
        margin: 0 0 0 4%;
        cursor: pointer
    }
    .sbs .owl-controls .owl-buttons div:before {
        content: "\e654";
        margin: 18% 0;
        font-size: 1rem;
        color: #fff
    }
    .sbs .owl-controls .owl-pagination {
        margin-top: 40px;
        z-index: 98;
        visibility: visible
    }
    .sbs .owl-controls .owl-pagination .owl-page {
        zoom: 1;
        display: inline-block;
        cursor: pointer
    }
    .sbs .owl-controls .owl-pagination .owl-page span {
        background: #edeef0;
        height: 10px;
        width: 10px;
        margin: 5px 7px;
        display: block;
        border-radius: 100%
    }
}

.sbs .current {
    border: 1px solid #bbb;
    padding:0 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sbs .current .sbs__tab-description,
.sbs .current .sbs__tab-title,
.sbs .current .sbs__tab-title a,
.sbs .current .sbs__tab-title a:after,
.sbs .pagination:hover .sbs__tab-description,
.sbs .pagination:hover .sbs__tab-title,
.sbs .pagination:hover .sbs__tab-title a {
    color: #F07216;
}
.sbs .owl-dot.active,
.sbs .owl-next,
.sbs .owl-prev {
    background: #F07216;
}
.sbs .owl-controls .owl-buttons div {
    background-color: #F07216;
}
.sbs .owl-controls .owl-pagination .owl-page.active span {
    background: #F07216;
}

@media only screen and (max-width: 768px) {

.sbs .current {
	border:none;
	box-shadow:none;
}

}


.white .owl-carousel .owl-item img {
    max-height:90px !important;
}

